/* =============================
   ======= Body style ==========
   =============================
*/


h2 {
	margin-bottom: 20px;
	color: #474E69;
}


/* =============================
   ========== Form  ============
   =============================
*/
.form {
	margin-top: 100px;
	margin-left: 520px;
  	display: inline-block;
  	text-align: left;

}
#label1{
	margin-left: 10px;

}
.title{
	margin-left: 100px;
}

/* =============================
   ======= Contact form ========
   =============================
*/

input, textarea {
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 400px;
	color: #999999;
	box-shadow: rgba(0,0,0,0.1)0px 0px 0px;
	-moz-box-shadow: rgba(0,0,0,0.1)0px 0px 0px;
	-webkit-box-shadow: rgba(0,0,0,0.1)0px 0px 0px;


}


textarea{
	width: 400px;
	height: 150px;
	min-width: 200px;
	min-height: 100px;
	max-width: 400px;
	max-height: 200px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus{
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0,0,0,0.2)0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0,0.2)0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.2)0px 0px 8px;

}
label{
  display:block;
  width: 200px;
  text-align: left;
}
/* =============================
   ======= Submit Button =======
   =============================
*/

.submit input {
	margin-left:160px;
	width:100px;
	height: 40px;
	background-color: #474E69;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
}

