*{
    box-sizing: border-box;

}
body{
    padding: 0px;
    margin: 0px;
    background:#E7E5E5;
    font-family: 'Cormorant Garamond' , serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Acme', serif;
    margin: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
.clearfix::after{
    content:'';
    display:block;
    clear:both;
}
.page-wrapper a:hover{
    color:#225560;
}
header {
    background:#225560;
    height:66px;
}

header * {
    color: white;
}
header .logo{
    float:left;
    height: inherit;
    margin-left: 2 em;
    
}
header .logo-text{
    margin: 9px;
    font-family: 'Abril Fatface' , serif;
}
header .logo-text span{
    color:#a3cad3;
}
header ul {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header ul li {
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    padding:21px;
    font-size: 1.1em;
    text-decoration: none;
}
header ul li:hover ul{
    display:block;
}
header ul li a:hover{
    background: #0a2b33;
    transition: 0.5s;
}
header .menu-toggle{
    display: none;
}
header ul li ul{
  position: absolute;
  top: 66px;
  right: 0px;
  width:100%;
  display: none;
  z-index: 999999;
}
header ul li ul li{
   
    width:100%;
  }
  header ul li ul li a{
   
    padding: 10px;
    color: #444;
    background:silver;
  }
  header ul li ul li a.logout{
    color:red;
    
  }
  header ul li ul li a:hover{
      background: rgba(231, 229, 229, 0.801)
  }

  /*Trending slider*/

.p_slider{
      
       background-image: url("school.jpg");
       
       
       position: relative;
        /* Full height */
        height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   }
   .next{
       position: absolute;
       top:58%;
       left :30px;
       cursor: pointer;
       font-size : 200%;
       color: #062e38;
   }
   .prev{
        position: absolute;
        top:58%;
        right :30px;
        cursor: pointer;
        font-size : 200%;
        color: #062e38;
}
.next:hover{
    background: #336b79; ;
}
.prev:hover{
    background: #336b79; ;
}
.p_slider .p_wrap{
       width: 84%;
       height:350px;
       overflow:hidden;
       padding: 10px 0px 10px 0px;
       margin:0px auto;
      
   }
.slider-title{
    text-align:center;
    margin:40px auto;
}
 .post{
       height: 330px;
       width: 300px;
       margin:0px 10px;
       display: inline-block;
       background:#EAEFF4;
       border-radius: 5px;
       box-sizing: 1rem 1rem 1rem -1rem #336b79 ;

   }
.infos{
    height:130px;
    padding: 0px 5px;
}
.s_images{
    width:100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*CONTENT STYLING*/
.content{
    width:90%;
    margin:30px auto 30px;
    
}
.main-content{
    width: 70%;
    float: left;
}
.sidebar{
    width: 30%;
    float: left;
    height: 300px;
}


  /*Media queries*/
 @media only screen and (max-width:750px)
  {
   header{
       position: relative;
   }
   header ul{
          width: 100%;
          background:#225560;
          max-height: 0px;
          overflow: hidden;
        }
    .showing{
        max-height: 100em;
    }
   header ul li{
          width: 100%;
        }
   header ul li ul{
        position: static;
        display: block;
        width: 100%;
        }  
   header ul li ul li a{
   
    padding: 10px;
    color:white;
    background:#225560;
    padding-left: 50px;
    }
   header ul li ul li a.logout{
    color:red;
    padding-left: 50px;
    }
   header .menu-toggle{
    display: block;
    position:absolute;
    right:20px;
    top:20px;
    font-size:1.9em;
    }
    header .logo{ 
        margin-left: .5em;  
    }
    header ul li ul li a:hover{
        background:#0a2b33;
    }
 }